.Errors {
    text-align: center;
    background: rgba(188, 188, 188, 0.3);
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    border-radius: 3px;
}
.Errors__release, .Errors__access {
    color: rgba(255, 84, 84, 0.7);
    font-weight: 700;
    font-size: 1rem;
}

.error-messages--series-create-wrapper {
    text-align: center;
    background: var(--appColor2);
    padding: 30px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 200px;
    border-radius: 3px;
}
.error-messages--series-create {
    margin-bottom: 20px;
    font-size: 1rem;
}
.error-messages--link {
    margin-bottom: 10px;
}