.Flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.SuccessWrapper {
    background: rgba(105, 255, 210);
}
.ErrorsWrapper {
    background: rgb(255, 3, 3);
}
.SuccessFlash, .ErrorsFlash {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 60px;
}
