.remove-features {
    position: relative;
    width: 100%;
}
.remove-features--remove-modal-wrapper {
    position: fixed;
    top: 25%;
    left: 0;
    width: 100%;
    height: 300px;
}
.remove-features--remove-modal {
    opacity: 1;
    height: 200px;
    width: 95%;
    margin: 0 auto;
    background: rgba(0, 143, 168);
    border-radius: 3px;
    position: relative;
}
.remove-features--remove-modal-message {
    color: rgb(240, 240, 240);
    width: 90%;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 60px;
}
.remove-features--remove-modal-button-wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
}
.remove-features--remove-modal-button-wrapper > input[type="button"] {
    outline: none;
    border: none;
    width: 35%;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
}
.remove-features--remove-modal-ok {
    background-color: rgb(250, 101, 101);
    color: white;
    top: 110px;
    left: 35px;
}
.remove-features--remove-modal-no {
    background-color: rgb(226, 226, 226);
    top: 110px;
    right: 35px;
}

.remove-features--remove-button {
    width: 200px;
    margin: 200px auto;
}
.remove-features--remove-button > .button {
    background-color: rgb(152, 0, 0);
    font-size: 0.9rem;
}