/* =====【シリーズ&小説の作成・編集フォーム】===== */
.series-form {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}
form {
    margin: 0;
}

.series-form--header {
    margin-bottom: 100px;
    position: relative;
}
.series-form--header > h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    background-color:var(--buttonBackground);
    color: var(--buttonColor);
    border-radius: 3px;
}
.series-form--back-to-series-page, .series-form--novels-page {
    position: absolute;
    right: 0;
}
.series-form--novels-page {
    top: 80px;
}

/* inputフィールド */
textarea {
    outline: none;
}
input[type="text"] {
    outline: none;
}

.series-form--title-wrapper,
.series-form--description-wrapper,
.series-form--content-wrapper{
    margin-bottom: 50px;
}
.series-form--title-input,
.series-form--description-input,
.series-form--content-input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:rgba(202, 202, 202, 0.1);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px;
    width: 100%;
    letter-spacing: 1.2px;
    border: none;
    resize: none;
    border: none;
    box-sizing: border-box;
}
.series-form--title-input {
    height: 60px;
}
.series-form--description-input {
    height: 50vh;
    overflow: scroll;
}
.series-form--content-input {
    height: 100vh;
    overflow: scroll;
}

.series-form--title-label,
.series-form--description-label,
.series-form--content-label {
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: 10px;
}

/* チェックボタン */
input[type="checkbox"] {
    display: none;
}
.release-input {
    width: 35%;
}
.release-wrapper {
    width: 150px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color:var(--buttonBackground);
    border-radius: 10px;
    position: relative;
}
.release-label {
    color: var(--buttonColor);
    cursor: none;
    font-weight: 600;
    display: inline-block;
    font-size: 0.9rem;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 21%;
    left: 37%;
    width: 60px;
}
.release-label::before {
    background: #fff;
    border: 2px solid #3131313f;
    content: '';
    display: block;
    height: 16px;
    left: -25px;
    margin-top: -9px;
    position: absolute;
    top: 42%;
    width: 16px;
    border-radius: 3px;
}
.release-label:after {
    border-right: 3px solid rgba(0, 187, 93);
    border-bottom: 3px solid rgba(0, 187, 93);
    content: '';
    display: block;
    height: 9px;
    left: 10px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 44%;
    left: -20px;
    transform: rotate(45deg);
    width: 6px;
}
input[type=checkbox]:checked + .release-label:after {
    opacity: 1;
}
