.button {
    border: none;
    height: 40px;
    width: 95%;
    background-color: rgba(20, 203, 216, 0.6);
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
.noButton {
    border: none;
    height: 40px;
    width: 95%;
    background-color: rgba(128, 128, 128, 0.2);
    color: rgba(37, 37, 37, 0.6);
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px
}

.ok {
    color: rgba(0, 187, 93, 0.836);
    font-weight: 600;
    font-size: 14px;
}

.over, .no {
    color: red;
    font-weight: 600;
}

.seriesCreate {
    /* background-color: rgba(255, 192, 203, 0.384); */
}

h3 {
    margin-bottom: 20px;
}

.series_title {
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
}

.series_description {
    width: 95%;
    height: 30vh;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.Title, .Description {
    font-weight: 600;
    margin-right: 10px;

}

.TitleWrapper {
    border-bottom: 1px solid rgba(53, 53, 53, 0.1);
    margin-bottom: 5px;
}
.DescriptionWrapper {
    border-bottom: 1px solid rgba(53, 53, 53, 0.1);
    margin-bottom: 5px;
}

form {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

input[type="checkbox"] {
    display: none;
}
.releaseWrapper {
    margin-bottom: 20px;
    text-align: center;
}
.release {
    
}
.releaseLabel {
    font-weight: 600;
    font-size: 0.9rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    margin-right: 5px;
    position: relative;
    width: auto;
}
.releaseLabel::before {
    background: #fff;
    border: 2px solid #3131313f;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 42%;
    width: 16px;
}
.releaseLabel:after {
    border-right: 3px solid rgba(0, 187, 93, 0.836);
    border-bottom: 3px solid rgba(0, 187, 93, 0.836);
    content: '';
    display: block;
    height: 9px;
    left: 10px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 44%;
    transform: rotate(45deg);
    width: 6px;
}
input[type=checkbox]:checked + .releaseLabel:after {
    opacity: 1;
}