.follow-button {
    position: relative;
}
.follow-button > button[type="submit"] {
    outline: none;
}

.follow-button--now, .follow-button--yet {
    width: 120px;
    height: 37px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow-button--now {
    background: var(--buttonBackground);
}
.follow-button > .follow-button--yet {
    background: transparent;
    border: 1px solid var(--buttonBackground);
    box-sizing: border-box;
}

.follow-button--now > span, .follow-button--yet > span {
    font-weight: 600;
}
.follow-button--now > span {
    color: white;
}
.follow-button--yet > span {
    color: var(--linkColor);
}

.follow-button--errors {
    color: red;
    width: 200%;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    background: var(--borderColor);
    position: absolute;
    right: 0%;
    top: -170%;
}