.Tag {
    background: var(--buttonBackground);
    margin-right: 10px;
    padding: 5px;
    height: 20px;
    border-radius: 3px;
    white-space: nowrap;
    word-break: break-all;
    text-align: center;
    width: auto;
    margin-bottom: 10px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
}
.Tag > a {
    color: var(--buttonColor);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.9rem;
}