.NovelsContents {
    padding: 15px;
    box-sizing: border-box;
}

.NovelsContens__Series {
    text-align: center;
    margin-bottom: 150px;
}
.NovelsContents__SeriesTitle {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.NovelsContents {
    background: rgba(240, 240, 240, 0.3);
    width: 100%;
    max-width: 700px;
    min-width: 370px;
    margin: 0 auto;
    word-break: break-all;
    letter-spacing: 1px;
    position:relative;
}
.NovelContents__WriterEditWrapper {
    display: flex;
    justify-content: space-between;
}


.writerWrapper {
    font-size: 0.8rem;
}

.NovelsContents__Novels {
    text-align: center;
    margin-bottom: 100px;
}
.NovelsContents__NovelsTitle {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.NovelsContents__NovelsDescription {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    width: 100%;
    padding: 30px 15px;
    font-size: 0.9rem;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: left;
    box-sizing: border-box;
    white-space: pre-wrap;
}
.NovelsContents__NovelsContent {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0 10px;
    padding-bottom: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    word-break: break-all;
    white-space: pre-wrap;
}

.NovelsContents__Options {
    position: relative;
    height: 9vh;
    display: flex;
    margin: 25px 0;
    padding: 10px;
    box-sizing: border-box;
}

.NovelsContents__Comments {
    height: 100%;
    width: 50%;
    position: relative;
}
.Comments {
    position:absolute;
    top: 30%;
    left:20%;
}

.Pagination, .PaginationTop {
    width: 95%;
    height: 7vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.PaginationTop {
    margin-bottom: 0;
}
.Pagination > a, .PaginationTop > a {
    background: var(--buttonBackground);
    color: var(--buttonColor);
    text-decoration: none;
    font-weight: 600;
    height: 70%;
    width: 33%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}