.novels-contents--top {
    margin-bottom: 100px;

}

.novels-contents {
    background: var(--borderColor);
    padding: 15px;
}

.novels-contens--series {
    text-align: center;
    margin-bottom: 150px;
}
.novels-contents--series-title-wrapper {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 30px 0px;
}
.novels-contents--series-title {
    background: rgba(240, 240, 240, 0.3);
    width: 100%;
    min-width: 370px;
    margin: 0 auto;
    word-break: break-all;
    letter-spacing: 1px;
    position:relative;
}


.novels-contents--series-writer-edit-wrapper {
    display: flex;
    justify-content: space-between;
}

.novels-contents--series-writer,
.novels-contents--series-writer-name,
.novels-contents--edit {
    font-weight: 600;
}

.novels-contents--novels {
    text-align: center;
    margin-bottom: 100px;
}
.novels-contents--novels-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.novels-contents--novels-description {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    width: 100%;
    padding: 30px 15px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: left;
    box-sizing: border-box;
    white-space: pre-wrap;
}
.novels-contents--novels-content {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0 10px;
    padding-bottom: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    word-break: break-all;
    white-space: pre-wrap;
}

.novels-contents--options {
    position: relative;
    height: 9vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 95%;
    margin: 30px auto;
}