.NovelsContents__Favorites {
    border-right: 1px solid  rgba(128, 128, 128, 0.3);
    height: 100%;
    width: 100%;
}
.NovelsContents__Favorites > button[type="submmit"] {
    padding: 0;
}

.favoritesErrorsWrapper {
    background: rgb(255, 239, 239);
    position: absolute;
    top: -60px;
    left: 5%;
    padding: 0px 10px;
    border-radius: 3px;
}
.favoritesErrors {
    font-size: 0.8rem;
}

.FavoritesWrapper {
    display: flex;
    cursor: pointer;
    width: 140px;
    margin: 0 auto;
}
.FavoritedIcon {
    width: 23px;
    height: 23px;
    object-fit: contain;
    margin-right: 5px;
}

.FavoritesWrapper > span {
    width: auto;
    white-space: nowrap;
    left: 30px;
}
.FavoritesSpan {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--linkColor);
}
.FavoritedSpan {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(255, 103, 103);
}
.FavoritesCount {
    text-align: center;
}
.FavoritesCount > span {
    border-bottom: 1px solid;
    color: var(--linkColor);
}

.FavoritesButton {
    width: 100%;
    height: 50%;
    border: none;
    background: transparent;
    outline: none;
    display: flex;
    justify-content: center;
}

