.NovelsContents__Favorites {
    border-right: 1px solid  rgba(128, 128, 128, 0.3);
    height: 100%;
    width: 100%;
    position: relative;
}

.favoritesErrorsWrapper {
    background: rgb(255, 239, 239);
    position: absolute;
    top: -60px;
    left: 5%;
    padding: 0px 10px;
    border-radius: 3px;
}
.favoritesErrors {
    font-size: 0.8rem;
}

.FavoritesWrapper {
    display: flex;
    cursor: pointer;
    width: 140px;
    margin: 0 auto;
}
.FavoritedIcon, .FavoritesIcon {
    width: 23px;
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
    vertical-align: middle;
}

.FavoritesWrapper > span {
    width: auto;
    white-space: nowrap;
    left: 30px;
}
.FavoritesSpan {
    font-size: 1rem;
    font-weight: 600;
    color: var(--linkColor);
}
.FavoritedSpan {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 103, 103);
}
.FavoritesCount > span {
    border-bottom: 1px solid;
    color: var(--linkColor);
}

.NovelsContents__Favorites > button[type="submit"] {
    padding: 0;
    border: none;
    width: 80%;
    height: 30%;
    margin: 0 auto;
    display: inline-block;
    background: transparent;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    justify-content: center;
    position: absolute;
    top: 19%;
    left: 13%;
}
.FavoritesButton {
    display:flex;
    align-items: center;
}
.FavoritesCount {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 50%;
}

.Favorites__Ul {
    background: rgb(255, 219, 219);
    padding: 10px;
    position: relative;
    top: 70px;
    z-index: 2;
    max-width: 150%;
}

.FavoritesUsersWrapper {
    padding: 5px;
}
.tuitate {
    color: rgb(202, 202, 202);
}