.NovelsContents__Comments {
    height: 100%;
    width:100%;
    position: relative;
}
.Comments__ButtonWrapper {
    text-align: center;
    height: 100%;
    width: 50%;
}
.DisplayComment {
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.NovelsContents__Comments > button[type="submit"] {
    padding: 0;
}
.Comments__count {
    font-size: 1rem;
}
.sankaku {
    color: var(--linkColor);
    border-bottom: 1px solid var(--linkColor);
}

.Comments__Ul {
    background: rgb(228, 247, 255);
    width: 195%;
    position: absolute;
    z-index: 2;
    right: 0%;
    top: 70px;
    padding: 25px 15px;
    padding-bottom: 30px;
    box-sizing: border-box;
    font-size: 0.8rem;
    max-width: 600px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.CommentForm > form > input[type="text"] {
    background: white;
    font-size: 0.9rem;
}

.CommentForm > form > input[type="submit"] {
    height: 10%;
    outline: none;
}

.CommentForm {
    margin-bottom: 40px;
}
.CommentCreateForm {
    margin-bottom: 15px;
}