h1 {
    font-size: 1.4rem;
    margin: 0;
}

.users-page-top {
    width: 95%;
    margin: 0 auto;
    padding: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.users-page-top--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.users-page-top--username {
    font-size: 1.7rem;
    font-weight: 600;
}
.users-page-top--user-profile {
    min-height: 10vh;
    margin-bottom: 30px;
    word-break: break-all;
}

/* フォロー */
.users-page-top--relationships {
    margin-bottom: 20px;
}
.users-page-top--relationships-span {
    margin: 0 10px;
}

.users-page-top--tag-wrapper {
    padding: 7px;
    box-sizing: border-box;
}
.users-page-top--tag-hobby {
    font-size: 0.9rem;
    font-weight: 600;
}


.users-page-top--no-tags-messages {
    font-weight: 600;
    background: var(--borderColor);
    color: var(--buttonBackground);
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8rem;
    white-space: pre-wrap;
    text-align: center;
}
.users-page-top--tag-wrapper {
    margin-bottom: 40px;
}
.users-page-top--tag-hobby {
    margin-bottom: 40px;
}

.users-page-top--edit-wrapper{
    background: var(--buttonBackground);
    padding: 15px 5px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}
.users-page-top--edit-wrapper> a {
    text-decoration: none;
    background: transparent;
}