.home {
    width: 100%;
}
.home__ranking {
    background: rgba(197, 197, 255, 0.1);
}

.home__h1 {
    margin-bottom: 10px;
}

.homeCaption {
    width: 95%;
    margin-bottom: 30px;
}

.TagFeed {
    background:rgba(202, 202, 202, 0.2);
    width: 95%;
    padding: 20px;
    max-height: 20vh;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: scroll;
}