.header {
    background: rgba(255, 192, 203, 0.212);
}
.home__header {
    margin-bottom: 40px;
}
.header__top {
    margin-bottom: 10px;
}
.userstatus {
    font-size: 0.9rem;
}
.nickname {
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(68, 68, 68);
    background: transparent;
    margin: 10px;
}
.header__options {
    display: flex;
}
