.header {
    background: rgba(255, 192, 203, 0.212);
}
.Logo {
    /* background: gray; */
    margin-bottom: 10px;
    width: 130px;
    height: 40px;
    vertical-align: top;
    object-fit: contain;

}
.home-header {
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(132, 132, 132, 0.3);
    box-shadow: 1px 0px 25px 5px rgba(93, 93, 93, 0.1);
}
.header-top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.recruitment-form {
    color: rgb(241, 241, 241);
    font-size: 1.3rem;
    font-weight: 600;
    background: var(--strongColor);
    padding: 30px 10px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    margin: 70px auto;
    box-shadow: 2px 3px 10px 1px rgba(93, 93, 93, 0.5);
    outline: none;
    cursor: pointer;
}

.user-status {
    font-size: 0.9rem;
}
.nickname {
    font-weight: 600;
    font-size: 1.2rem;
    color: rgba(50, 50, 50, 0.7);
    padding-top: 0;
    padding-left: 45px;
    vertical-align: top;
    background: transparent;
    cursor: pointer;
}

.down-menu {
    background: rgba(232, 232, 232, 0.2);
    padding: 20px;
    padding-left: 30px;
    padding-right: 7px;
    border-radius: 3px;
    border-right: 1px solid ;
}
.down-menu > li > a,
.down-menu > li > span {
    background: transparent;
    text-decoration: none;
    padding: 0;
    font-weight: 600;
    color: var(--linkColor);
    position: relative;
    right: 0;
    cursor: pointer;
}
.down-menu > li {
    margin-bottom: 10px;
}

.header-auth {
    display: flex;
}
.header-auth > li > a {
    font-size: 1rem;
    padding: 3px;
}
.header-auth > li {
    margin-left: 10px;
}


.header-bottom {
    display: flex;
    font-size: 1rem;
    white-space: nowrap;
    overflow: scroll;
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;
}
.header-bottom > li {
    padding: 3px;
    display: table-cell;
    vertical-align: middle;
}
.header-bottom > li > a {
    text-decoration: none;
    padding: 10px;
    border-radius: 1px;
    font-weight: 600;
    border-radius: 5px;
    background: transparent;
    background: var(--borderColor);
}
