.SeriesTags {
    display: flex;
    border-radius: 3px;
    text-align: center;
    flex-wrap: wrap;
}

.SeriesTags__Link{
    text-decoration: none;
    background: var(--buttonBackground);
    margin-right: 5px;
    margin-bottom: 5px;
    width: auto;
    white-space: nowrap;
}

.SeriesTags__Li {
    color: var(--buttonColor);
    letter-spacing: 1px;
    font-size: 0.7rem;
    font-weight: 600;
}